/*------------------------------------*\
    #BODY
\*------------------------------------*/

// body {
//     padding-top: $header-height;

//     &.navigation--is-active {
//         overflow: hidden;
//         height: 100vh;
//     }
// }

// a {
//     color: $primary-color;

//     &:hover,
//     &:focus,
//     &:active {
//         color: $secondary-color;
//     }
// }