.c-button {
    border-radius: 5px;

    &--conversion {

        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: rgba(255,255,255,0.4);
            -webkit-transition: none;
            -moz-transition: none;
            transition: none; 
        }

        &:hover {
            transition: background-color .3s linear;
        }

        &:hover:after {
            width: 105%;
            background-color: rgba(255,255,255,0);
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; 
        }

    }
}