/*------------------------------------*\
    #CONTACT-HEADER
\*------------------------------------*/

.c-contact-header {

    overflow: hidden;
    position: relative;
    pointer-events:none;

    .contact--is-active & {
        overflow: visible;
    }

    &__trigger {
        position: relative;
        margin: 0;
        padding: rem-calc(12 16);
        font-size: rem-calc(16);  
        border: none;
        outline: none;
        color: $t-primary;
        font-family: inherit;
        cursor: pointer;
        pointer-events: initial;
        background-color: inherit;

        &:before {
            content: '';
            position: absolute;
            padding: 0;
            margin: 0 auto;
            width: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 2px solid $t-primary;
            transition: all ease-in .3s;
        }

        &:hover {
            &:before {
                width: 80%;
                transition: all ease-in .3s;

                @include breakpoint(smedium){
                    width: 100%;
                }
            }
        }

        .contact--is-active & {
            &:before {
                width: 80%;

                @include breakpoint(smedium){
                    width: 100%;
                }
            }
        }
    }

    &__menu {
        display: block;
        visibility: hidden;
        position: absolute;
        max-height: 0;
        min-width: rem-calc(90);
        margin-top: rem-calc(25);
        pointer-events: none;
        opacity: 0;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition: all ease .2s;

        @include breakpoint(medium){
            min-width: rem-calc(166);
        }

        &:before {
            position: absolute;
            content: '';
            top: rem-calc(-27);
            left: 50%;
            transform: translateX(-50%);
            background-image: url("data:image/svg+xml,%3Csvg width='25' height='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 18L0 0h25z' fill='%23AAA371' fill-rule='nonzero'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 1.5625rem;
            height: 1.25rem;
            max-height: 0;
            transition: all ease 0.2s;
            
            .contact--is-active & {
                max-height: 20px;
                transition: all ease 0.2s;
            }
        }

        .contact--is-active & {
            pointer-events: initial;
            max-height: rem-calc(100);
            visibility: visible;
            transition: all ease .2s;
            opacity: 1;
        }

        .menu {
            margin:0;

            &-item {
                display: block;
                text-align: left;
                text-decoration: none;
                list-style-type: none;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: $t-primary;
                    background-size: 25px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    padding: rem-calc(25 20);

                    @include breakpoint(medium){
                        background-position: 10px 50%;
                        padding: rem-calc(12 0);
                        padding-left: rem-calc(45);
                    }
                }

                span {
                    display: none;

                    @include breakpoint(medium){
                        display: block;
                    }
                }
                
                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }

    &__telephone {
        a {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.98' height='30'%3E%3Cpath data-name='telephone (2)' d='M23.98 30a18.614 18.614 0 01-8.4-2.238 30.868 30.868 0 01-7.683-5.67A30.9 30.9 0 012.234 14.4 18.652 18.652 0 010 6c0-1.722 1.6-3.385 2.294-4.02C3.286 1.066 4.846 0 5.98 0a3.413 3.413 0 012.08 1.161 19.785 19.785 0 012.075 2.316c.433.557 2.6 3.406 2.6 4.773 0 1.121-1.267 1.9-2.608 2.725a15.16 15.16 0 00-1.442.959c-.413.331-.488.506-.5.546a19.843 19.843 0 009.317 9.32c.032-.01.207-.079.545-.5a15.155 15.155 0 00.959-1.442c.825-1.341 1.6-2.609 2.725-2.609 1.367 0 4.216 2.162 4.773 2.6a19.785 19.785 0 012.316 2.075A3.413 3.413 0 0129.98 24c0 1.134-1.066 2.7-1.978 3.694-.637.694-2.3 2.306-4.022 2.306zM5.97 1.5a5.637 5.637 0 00-2.66 1.583A4.843 4.843 0 001.5 6c0 10.093 12.4 22.5 22.48 22.5a4.841 4.841 0 002.916-1.819 5.675 5.675 0 001.584-2.671c-.049-.285-.837-1.393-3-3.055a11.748 11.748 0 00-3.747-2.2c-.027.008-.2.072-.535.5a15.676 15.676 0 00-.919 1.389c-.84 1.367-1.634 2.659-2.787 2.659a1.462 1.462 0 01-.545-.106A21.259 21.259 0 016.783 13.029c-.189-.473-.219-1.213.711-2.056A12.953 12.953 0 019.336 9.7a15.655 15.655 0 001.389-.919c.432-.34.5-.508.5-.535a11.749 11.749 0 00-2.2-3.746c-1.66-2.163-2.77-2.951-3.055-3z' fill='%23aaa371'/%3E%3C/svg%3E");
        }
    }

    &__email {
        a {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33.152' height='30'%3E%3Cpath d='M31.245 8.28L18.52.503a4 4 0 00-3.887 0L1.906 8.28A4.3 4.3 0 000 11.679v15.7a2.62 2.62 0 002.617 2.618h27.918a2.62 2.62 0 002.617-2.617v-15.7a4.3 4.3 0 00-1.907-3.4zM2.816 9.769l12.726-7.772a2.285 2.285 0 012.068 0l12.726 7.777a2.3 2.3 0 01.725.8l-13.517 9.008a1.976 1.976 0 01-1.936 0L2.091 10.571a2.3 2.3 0 01.725-.8zm27.719 18.486H2.617a.873.873 0 01-.872-.872V12.437l12.9 8.6a3.723 3.723 0 003.871 0l12.9-8.6v14.946a.873.873 0 01-.881.872z' fill='%23aaa371'/%3E%3C/svg%3E");
        }
    }
}