/*------------------------------------*\
    #CTA Tile
\*------------------------------------*/

.c-cta--layout-tile {
    min-height: rem-calc(300);
    margin-bottom: rem-calc(30);
    opacity: 0;

    @include breakpoint(medium){
        min-height: rem-calc(400);
        margin: 0;
    }

    &:after{
        content: '';
        position: absolute;
        visibility: visible;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all ease-in .2s;
        
        @include breakpoint(medium){
            opacity: 0;
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }

    .c-cta{
        &__content{
            width: 100%;
            position: absolute;
            bottom: 10%;
            left: 0;
            transition: all ease-in .3s;
        }

        &__background{
            transform: scale(1);
            transition: all ease-in .3s;
        }

        &__heading{
            line-height: rem-calc(30);
            transition: all ease-in .3s;

            &:after{
                content: none;
            }
        }

        &__buttons{
            display: none;
        }
    }

    &:hover{
        .c-cta{
            &__content{
                bottom: 20%;
                transition: all ease-in .2s;
            }

            &__background {
                transform: scale(1.05);
                transition: all ease-in .3s;
            }
        }

        &:after{
            opacity: 1;
            visibility: visible;
            transition: all ease-in .3s;
        }
    }

    .widget-is-visible & {
        @extend .a-fade-in;
	}
}