/*------------------------------------*\
    #CTA
\*------------------------------------*/

.c-cta {
    &__preheading{
        line-height: 18px;
        margin-bottom: rem-calc(12);
    }

    &__heading{
        line-height: 71px;
        margin-bottom: rem-calc(27);
        font-size: rem-calc(55);
        &:after{
            content: none;
        }
    }

    &__text{
        font-size: rem-calc(20);
        margin-bottom: rem-calc(40);
        p {
            line-height: 38px;
            margin-bottom: 0;
        }
    }

    &__buttons{
        margin-bottom: 0;
    }
}