/*------------------------------------*\
    #CTA--LEDE
\*------------------------------------*/

.c-cta--lede {
    margin: rem-calc(150) auto rem-calc(40);

    @include breakpoint(smedium){
        margin-top: rem-calc(200);
    }

    @include breakpoint(xlarge){
        margin: rem-calc(200) auto 0;
    }

    .c-cta{

        &__content{
            opacity: 0;
        }

        &__inner{
            max-width: rem-calc(650);
            margin: 0 auto;

            @include breakpoint(medium){
                max-width: rem-calc(700)
            }

            @include breakpoint(large){
                max-width: rem-calc(800)
            }
        }

        &__heading{
            font-size: rem-calc(36);
            line-height: rem-calc(55);

            @include breakpoint(smedium){
                font-size: rem-calc(46);
            }

            @include breakpoint(large){
                font-size: rem-calc(55);
                line-height: rem-calc(71);
            }
        }

        &__text{
            font-size: rem-calc(16.8);
            margin-bottom: 1.5rem;
            padding: rem-calc(0 10);

            @include breakpoint(smedium){
                font-size:rem-calc(18);
            }

            @include breakpoint(large){
                font-size: rem-calc(20);
                margin-bottom: 2.5rem;
            }
        }
    }

    .widget-is-visible & {

		.c-cta__content {
			@extend .a-fade-in;
		}
	}
}