/*------------------------------------*\
    #CTA Image Right
\*------------------------------------*/

.c-cta--layout-image-right {
    
    .c-cta {
        &__content{
            opacity: 0;
            min-height: rem-calc(400);

            @include breakpoint(medium){
                min-height: rem-calc(600)
            }
        }

        &__background{
            height: rem-calc(350);

            @include breakpoint(medium){
                height: 100%;
            }
        }

        &__inner{
            margin: 2rem;
            padding: 1.25rem;
            max-width: 48.125rem;
            transition: all linear 0.2s;
            
            @include breakpoint(medium){
                max-width: 38.125rem;
                margin-bottom: rem-calc(140);
            }

            @include breakpoint(smedium){
                margin: 3rem;
            }
            
            @include breakpoint(large){
                margin: 4rem;
            }
            
            @include breakpoint(xlarge){
                margin: 5rem;
            }

            @include breakpoint(1920px){
                margin-right: rem-calc(270);
                margin-left: auto;
                transition: none;
            }
        }

        &__preheading{
            line-height: 18px;
            margin-bottom: rem-calc(6);
            
            @include breakpoint(medium){
                margin-bottom: rem-calc(12);
            }
        }
    
        &__heading{
            margin-bottom: rem-calc(14);
            line-height: rem-calc(52);
            &:after{
                content: none;
            }
            
            @include breakpoint(medium){
                margin-bottom: rem-calc(27);
            }
        }
    
        &__text{
            margin-bottom: rem-calc(40);
            line-height: 35px;

            @include breakpoint(medium){
                line-height: 38px;
            }

        }

    }

    .widget-is-visible & {

		.c-cta__content {
			@extend .a-fade-in-up;
		}
	}
}