/*------------------------------------*\
    #PROMOTED-NAV
\*------------------------------------*/

.c-nav-promoted {

    .menu {
        display: flex;
        align-items: center;
        justify-content:space-around;
        flex:1;
        padding: 0;
        margin: 0;
        
        &-item {
            position: relative;
            display: block;
            padding: rem-calc(12 16);
            float: none;
            text-align: left;
            text-decoration: none;
            list-style-type: none;
            font-size: rem-calc(18);

            a {
                color: $t-primary;
            }

            &:before {
                content: '';
                position: absolute;
                padding: 0;
                margin: 0 auto;
                width: 0;
                left: 0;
                right: 0;
                bottom: rem-calc(5);
                border-bottom: 2px solid $t-primary;
                transition: all ease-in .3s;
            }

            &:after {
                content: "|";
                position: absolute;
                padding-left: rem-calc(16);
                color: $t-primary;
            }

            &:last-child {
                &:after {
                    content: none;
                }
            }
    
            &:hover {
                &:before{
                    width: 80%;
                    transition: all ease-in .3s;
                }
            }
        }
    }
}