/*------------------------------------*\
    #NAV-FOOTER
\*------------------------------------*/

.c-nav-footer {

    display: flex;
    text-align: right;

    .menu {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex:1;
        padding: 0;
        margin: 0;
        margin-left: rem-calc(10);

        @include breakpoint(580 down){
            max-width: rem-calc(350);
        }

        @include breakpoint(medium){
            flex-wrap: nowrap;
            justify-content:space-between;
        }
        
        &-item {
            position: relative;
            display: block;
            padding: rem-calc(10);
            float: none;
            text-align: left;
            text-decoration: none;
            list-style-type: none;
            font-size: rem-calc(15);
            
            @include breakpoint(medium){
                font-size: rem-calc(18);
            }

            a {
                color: $t-primary;
            }

            &:before {
                content: '';
                position: absolute;
                padding: 0;
                margin: 0 auto;
                width: 0;
                left: 0;
                right: 0;
                bottom: rem-calc(5);
                border-bottom: 2px solid $t-primary;
                transition: all ease-in .3s;
            }

            &:after {
                content: "|";
                position: absolute;
                padding-left: rem-calc(8);
                color: $t-primary;

                // @include breakpoint(medium){
                //     padding-left: rem-calc(16);
                // }
            }

            &:last-child:after {
                content: none;
            }
    
            &:hover {
                &:before{
                    width: 80%;
                    transition: all ease-in .3s;
                }
            }
        }
    }
}
