/*------------------------------------*\
    #PROMOTED-NAV--HEADER
\*------------------------------------*/

.c-nav-promoted {
    &--header {
        .menu {
            &-item {
                &:nth-child(1n+3), &:nth-child(1n+2):after {
                    display: none;
                }
            }
        }
    }
}