/*------------------------------------*\
    #NAVICON
\*------------------------------------*/

.c-navicon {
    text-align: center;

    &__box {
        margin: 0 auto;
    }

    &__inner {
        background-color: $t-primary;

        &:before, &:after {
            background-color: $t-primary;
        }
    }
}