/*------------------------------------*\
    #PROMOTED-NAV--FOOTER
\*------------------------------------*/

.c-nav-promoted {
    &--footer {
        .menu {
            &-item {
                padding: rem-calc(15 18 12);
                font-size: rem-calc(20);

                @include breakpoint(medium){
                    font-size: rem-calc(28);
                }

                &:first-child {
                    margin-left: rem-calc(10);
                    padding-left: rem-calc(10);
                }
            }
        }
    }
}