/*------------------------------------*\
    #OFFCANVAS--MENU
\*------------------------------------*/

.c-offcanvas--menu {

    .menu-offcanvas-is-visible & {
        opacity: 1;
        pointer-events: initial;
    }

    .c-offcanvas {
        
    }
}