/*------------------------------------*\
    #PAGE-HEADER
\*------------------------------------*/

.c-page-header {

    @include property(height, $u-header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background: $t-tertiary;
    
    &__nav-container {
        @include property(height, $u-header-height);
        position: fixed;
        display: flex;
        flex-flow: row wrap;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        align-items: center;

        @include breakpoint(medium) {
            padding: rem-calc(0 60);
            width: 100%; 
        }
        
        &--inner {
            display: flex;
            margin: 0 auto;
            width: 100%;
            max-width: $u-global-width;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__promoted, &__logo, &__contact {
        margin: 0 auto;
    }

    &__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__promoted {
        display: none;

        @include breakpoint(680){
            display: block;
            margin-left: rem-calc(20);
        }
    }

    &__contact {
        margin-right: 0;

        @include breakpoint(medium down){
            margin-right: rem-calc(10);
        }
    }
}
