/*------------------------------------*\
    #PAGE-FOOTER
\*------------------------------------*/

.c-page-footer {
    background: $t-tertiary;
    display: block;
    min-height: rem-calc(155);

    &__promoted {
        display: flex;
    }

    &__legal {
        display: flex;
        margin-bottom: rem-calc(8);
    }

    small {
        margin-left: rem-calc(20);

        span {
            color: transparent;

            &:hover {
                color: inherit;
                cursor: grab;
            }
        }
    }
}
