/**
 * Navicon settings
 */
$navicon-padding-x                       : 15px !default;
$navicon-padding-y                       : 15px !default;
$navicon-layer-width                     : 40px !default;
$navicon-layer-height                    : 4px !default;
$navicon-layer-spacing                   : 6px !default;
$navicon-layer-color                     : #000 !default;
$navicon-layer-border-radius             : 4px !default;
$navicon-hover-opacity                   : 0.7 !default;
$navicon-hover-transition-duration       : 0.15s !default;
$navicon-hover-transition-timing-function: linear !default;

/**
 * Types of navicon animation
 */
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/arrow";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/arrow-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/arrowalt";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/arrowalt-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/boring";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/collapse";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/collapse-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/elastic";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/elastic-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/emphatic";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/emphatic-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/slider";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/slider-r";
@import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/spin";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/spin-r";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/squeeze";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/vortex";
// @import "../../../cn-core-theme/assets/scss/ui/core-components/navicon/vortex-r";