/*------------------------------------*\
    #FADE-IN
\*------------------------------------*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.a-fade-in {
    animation-name: fadeIn;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

/*------------------------------------*\
    #FADE-IN-UP
\*------------------------------------*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.a-fade-in-up {
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}